*{
    margin:0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}
.container{
    display: grid;
    text-align: center;
    grid-template-rows: .3fr .1fr 1fr .1fr;
    height: 100vh;
}
.main{
    /* text-align: center; */
    border: 1px solid black; 
}
.nav{
    border: 1px solid black; 
}
.footer{
    border: 1px solid black;
}
.watchList{
    border: 1px solid black;
}
.signUp{
    border: 1px solid black;
}