*{
    margin:0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}
.container{
    display: grid;
    /* text-align: center; */
    grid-template-rows: .2fr .1fr 1fr .1fr;
    height: 100vh;
    margin-left: 70px;
    margin-right: 70px;
}
.Header{
    display: flex;
    padding-top: 20px;
    color: rgb(129, 6, 129);
}
.intro{
    font-size: 70px;
    font-family: 'Fjalla One', sans-serif;
    padding-bottom: 30px;
}
.searchHere{
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    padding-bottom: 30px;
    color: rgb(219, 9, 9)
    
}
.main{
    /* text-align: center; */
    /* border: 1px solid black;  */
}
.watchTitle{
    font-family: 'Fjalla One', sans-serif;
    padding-bottom: 16px;
}
.priceUpdate{
    font-size: 25px;
    color: rgb(37, 37, 179);
    padding-bottom: 33px;
}
.planeswalker{
    height: 70px;
    width: auto;
}
.fullCard{
    font-size: 25px;
}
a{
    text-decoration: none;
    color: black;
    padding-right: 30px;
    font-size: 30px;
}
h1{
    font-size: 60px;
}
.nav{
    display: inline;
}
.Footer{
    text-align: center;
    display: flex;
    justify-content: center;
    
    
}
button{
    height: 40px;
    width: 70px;
    margin-left: 10px;
    background-color: rgb(48, 165, 54);
}
.watchList{
    /* border: 1px solid black; */
}
input{
    width: 400px;
    height: auto;
}
.signUp{
    /* border: 1px solid black; */
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/006/946/497/large/joseph-meehan-ramos.jpg?1502463571");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
    /* background-position: center; */
    /* background-position-x: 70%; */

    opacity: .5;
    /* background-size: auto; */
}
.twitter{
    height: 40px;
    width: auto;
    margin-bottom: -10px;
    padding-right: -30px;
}
.facebook{
    height: 40px;
    width: auto;
    margin-bottom: -10px;
}
.signIn{
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/005/466/767/large/joseph-meehan-hazoret.jpg?1491243112");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
    height: 100vh;
    width: auto;
}
.pseudoDiv1{
    display: block; 
    width: 100%; 
    padding-top: 30px; 
    padding-top: 10px;
    border-bottom: 1px solid black; 
    
}
.pseudoDiv2{
    display: block; 
    width: 100%;
    padding-top: 10px; 
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}