*{
    margin: 0;
    box-sizing: border-box;
    border:1px;
}
.container{
    height: 300px;
    display: grid;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 15%;
    margin-bottom: 15%;
    grid-template-columns: 50px;
    grid-template-rows: auto;
    grid-gap: 5px;
    grid-template-areas: 
    .red .red .red .red
    .blue  .blue;
    
}
.container div{
    text-align: center;
}
.red{
    background-color: red;
}
.blue{
    background-color: powderblue;
}
.green{
    background-color: greenyellow;
}
.purple{
    background-color: rebeccapurple;
}
.yellow{
    background-color: yellow;
    grid-column: 1 / span 2;
}