* {
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}
.title{
    text-decoration: underline;
    font-size: 24px;
    color: rgb(190, 34, 34)
}
.subTitle{
    padding-bottom: 30px;
}
.container {
    display: grid;
    grid-template-rows: .1fr 1fr .1fr;
    height: 100vh;
    margin-left: 10px;
    margin-right: 10px;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}
.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}
.footer{
    background-color: rgb(59, 58, 58);
}

.description {
    text-align: center;
}

.eagleCircle {
    /* display: flex;
    flex-direction: row-reverse; */
    background-image: url("https://images.unsplash.com/photo-1486578077620-8a022ddd481f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=85550af4293fee2c13a9754e45eb8a52&auto=format&fit=crop&w=2534&q=80");
    background-size: 350px;
    background-position: center;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    width: 15em;
    height: 15em;
    overflow: hidden;
}

.eagleCircle p {
    color: rgba(189, 185, 199, 0);
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 15px;
    /* line-height: 8.2em; */
    text-align: center;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    transition: color 0.8s ease-in-out;
    padding-top: 80px;
}

.eagleCircle p,
.eagleCircle:before,
.eagleCircle:after {
    border-radius: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    /* box-shadow: inset 10.6em 0 0 rgba(30, 140, 209, 0.2), inset 0 10.6em 0 rgba(30, 140, 209, 0.2), inset -10.6em 0 0 rgba(30, 140, 209, 0.2), inset 0 -10.6em 0 rgba(30, 140, 209, 0.2); */
    transition: box-shadow 0.75s;
}
.eagleCircle:hover>p {
    color: rgb(189, 187, 187);
    background: black;
    transition: color 0.8s ease-in-out;
}
.warriorCircle {
    background-image: url("https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Fcdn-img.essence.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F1x1_lg%2Fpublic%2F1519333490%2FRET0780_v130.1081.jpg%3Fitok%3D2g-pSJh1&w=700&q=85");
    background-size: 350px;
    background-position: center;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    width: 15em;
    height: 15em;
    overflow: hidden;
}
.warriorCircle p {
    color: rgba(189, 185, 199, 0);
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 15px;
    /* line-height: 8.2em; */
    text-align: center;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    transition: color 0.8s ease-in-out;
    padding-top: 80px;
}

.warriorCircle p,
.warriorCircle:before,
.warriorCircle:after {
    border-radius: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    /* box-shadow: inset 10.6em 0 0 rgba(30, 140, 209, 0.2), inset 0 10.6em 0 rgba(30, 140, 209, 0.2), inset -10.6em 0 0 rgba(30, 140, 209, 0.2), inset 0 -10.6em 0 rgba(30, 140, 209, 0.2); */
    transition: box-shadow 0.75s;
}
.warriorCircle:hover>p {
    color: rgb(189, 187, 187);
    background: black;
    transition: color 0.8s ease-in-out;
}
.warriorCircle {
    background-image: url("https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Fcdn-img.essence.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F1x1_lg%2Fpublic%2F1519333490%2FRET0780_v130.1081.jpg%3Fitok%3D2g-pSJh1&w=700&q=85");
    background-size: 350px;
    background-position: center;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    width: 15em;
    height: 15em;
    overflow: hidden;
}
.warriorCircle p {
    color: rgba(189, 185, 199, 0);
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 15px;
    /* line-height: 8.2em; */
    text-align: center;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    transition: color 0.8s ease-in-out;
    padding-top: 80px;
}

.warriorCircle p,
.warriorCircle:before,
.warriorCircle:after {
    border-radius: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    /* box-shadow: inset 10.6em 0 0 rgba(30, 140, 209, 0.2), inset 0 10.6em 0 rgba(30, 140, 209, 0.2), inset -10.6em 0 0 rgba(30, 140, 209, 0.2), inset 0 -10.6em 0 rgba(30, 140, 209, 0.2); */
    transition: box-shadow 0.75s;
}
.warriorCircle:hover>p {
    color: rgb(189, 187, 187);
    background: black;
    transition: color 0.8s ease-in-out;
}

.hunterCircle {
    background-image: url("https://assets1.bigthink.com/system/idea_thumbnails/53127/size_1024/File_Hadzabe_Hunters.jpg_-_Wikimedia_Commons.jpg?1381941720");
    background-size: 450px;
    background-position: center;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    width: 15em;
    height: 15em;
    overflow: hidden;
}
.hunterCircle p {
    color: rgba(189, 185, 199, 0);
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 15px;
    /* line-height: 8.2em; */
    text-align: center;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    transition: color 0.8s ease-in-out;
    padding-top: 80px;
}

.hunterCircle p,
.hunterCircle:before,
.hunterCircle:after {
    border-radius: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    transition: box-shadow 0.75s;
}
.hunterCircle:hover>p {
    color: rgb(189, 187, 187);
    background: black;
    transition: color 0.8s ease-in-out;
}

