*{
    margin: 0;
    /* border: 1px solid black; */
    box-sizing: border-box;
    background-color: rgb(253, 253, 253);
}
.bold{
    font-weight: bold;
    color:rgb(232, 93, 43);
}
.iconPic{
    height: 65px;
    width: 65px;
}
/* .twitterPic{
    height: 20px;
    width: auto;
} */
.myFace{
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: row; */
    margin-top: 30px;
    /* margin-left: 30%; */
    /* justify-content: center; */
    /* align-items: center; */
    border-radius: 100%;
    height: 200px;
    width: 200px;
}
.nameTitle{
    font-family: 'Asap', sans-serif;
}
.fullStackTitle{
    font-family: 'Asap', sans-serif;
}
.container{
    display: grid;
    grid-template-rows: .1fr 1fr .1fr;
    height: 100vh;
    margin-left: 10px;
    margin-right: 10px;
}
bazaarPic{
    height: 90px;
    width: auto;
    /* border: 1px solid black; */
}
.bazaarLink{
    height: 250px;
    width: 390px;
    /* margin-top: 30px; */
    border: 1px solid black;
}
.aboutMe{
    padding-top: 30px;
    font-size: 20px;
    text-align: center;
}
.skillz{
    text-align: center;
    padding-top: 22px;
}
.strengths{
    padding-top: 22px;
}
a{
    padding-right: 15px;
    text-decoration: none;
    color: black;
}
a:hover{
    color:rgb(232, 93, 43);
}
.upperLinks{
    font-family: 'Pathway Gothic One', sans-serif;
}
.Header{
    /* background-color: rgb(218, 218, 218); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 20px;
    color: rgb(2, 187, 169);
    border-bottom: 1px solid black;
    /* background-color: black; */
}
.Contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* margin-top: 30px; */
}
.symbol{
    height: 20px;
    width: auto;
}
.iconContainer{
    margin-top: 30px;
}
.Body{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.Portfolio{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
}
.myChartDiv canvas {
    width: 100%;
  }
.doughnutTest{
    display: flex;
    height: 200px;
    width: 300px;
    
}
.introText{
    padding-top: 60px;
    padding-left: 5px;
}
/* .Footer{
    
} */
